{% extends "../base/base.html" %}

{% block title %}Upload Payment{% endblock title %}

{% block content %}
<div class="min-h-screen w-1/2 mx-auto my-20">
    <div>
        <a href="{% url "payment_template_download" %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            Download template
        </a>
    </div>

    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
        <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <form class="flex flex-col justify-center mt-20" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.excel_file.id_for_label }}" class="block text-gray-700 font-bold mb-2">
                {{ form.excel_file.label }}
            </label>
            {{ form.excel_file }}
            {% if form.excel_file.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {{ form.excel_file.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            Upload Payments
        </button>
    </form>
</div>
{% endblock content %}