{% extends "../base/base.html" %}

{% block title %}Reject Entry{% endblock title %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center">
    <div class="w-1/3 font-semibold text-xl text-center">Reject Entry</div>
    <form class="mt-8 border-gray-300 rounded-md py-2 px-2 w-7/12" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="rounded-md shadow-sm -space-y-px">
            <div class="mb-4">
                <label for="{{ form.currency.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.currency.label }}
                </label>
                <select name="{{ form.currency.name }}" id="{{ form.currency.id_for_label }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" disabled>
                    {% for option in form.currency.field.choices %}
                        <option value="{{ option.0 }}" {% if option.0 == form.currency.value %}selected{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="{{ form.currency.name }}" value="{{ form.currency.value }}">
                {% if form.currency.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.currency.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.receipts.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.receipts.label }}
                </label>
                <input type="number" name="{{ form.receipts.name }}" id="{{ form.receipts.id_for_label }}" value="{{ form.receipts.value }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" readonly>
                {% if form.receipts.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.receipts.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.payments.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.payments.label }}
                </label>
                <input type="number" name="{{ form.payments.name }}" id="{{ form.payments.id_for_label }}" value="{{ form.payments.value }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" readonly>
                {% if form.payments.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.payments.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.date.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.date.label }}
                </label>
                <input type="date" name="{{ form.date.name }}" id="{{ form.date.id_for_label }}" value="{{ form.date.value }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" readonly>
                {% if form.date.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.date.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.description.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.description.label }}
                </label>
                <textarea name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" readonly>{{ form.description.value }}</textarea>
                {% if form.description.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.description.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.category.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.category.label }}
                </label>
                <input type="text" name="{{ form.category.name }}" id="{{ form.category.id_for_label }}" value="{{ form.category.value }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" readonly>
                {% if form.category.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.category.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.company.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.company.label }}
                </label>
                <select name="{{ form.company.name }}" id="{{ form.company.id_for_label }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" disabled>
                    {% for option in form.company.field.choices %}
                        <option value="{{ option.0 }}" {% if option.0 == form.company.value %}selected{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="{{ form.company.name }}" value="{{ form.company.value }}">
                {% if form.company.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.company.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.subcategory.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.subcategory.label }}
                </label>
                <input type="text" name="{{ form.subcategory.name }}" id="{{ form.subcategory.id_for_label }}" value="{{ form.subcategory.value }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg" readonly>
                {% if form.subcategory.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.subcategory.errors }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="{{ form.remarks.id_for_label }}" class="block text-lg font-medium text-gray-700">
                    {{ form.remarks.label }}
                </label>
                <input type="text" name="{{ form.remarks.name }}" id="{{ form.remarks.id_for_label }}" value="{{ form.remarks.value }}" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-lg">
                {% if form.remarks.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.remarks.errors }}</p>
                {% endif %}
            </div>
        </div>
        <div>
            <button type="submit" class="group relative w-full flex justify-center mt-3 py-2 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Reject Entry
            </button>
        </div>
    </form>
</div>
{% endblock content %}
